name: PR build pipeline
on: [workflow_dispatch]

permissions:
  contents: read

jobs:
  self-contained:
    runs-on: windows-latest
    strategy:
      matrix:
        mode: [osx-x64,linux-x64,win-x64,win-arm64,osx-arm64,linux-arm64]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Setup .NET
      uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3 # v4.0.0
      with:
        dotnet-version: 7.0.x
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@a21f25cd3998bf370fde17e3f1b4c12c175172f9 # v2.0.0
    - name: Restore dependencies using Nuget
      run: nuget restore src\client.sln -Verbosity Normal -NonInteractive -ConfigFile src/nuget.config
    - name: dotnet Publish for ${{ matrix.mode }}
      run: dotnet publish src\dsc\dsc.csproj -c Release -r ${{ matrix.mode }} --no-restore --self-contained true --verbosity normal
    - name: Build endpointmanagerlauncher
      if: ${{ matrix.mode == 'win-x64' || matrix.mode == 'win-arm64'}}
      run: dotnet publish src\EndpointManagerLauncher\endpointmanagerlauncher.csproj -r ${{ matrix.mode }} -c Release --no-restore
    - name: Run unit test cases
      run: | 
        dotnet restore src\unittest.sln
        dotnet test src\unittest.sln -c Release --no-restore --verbosity normal
  non-self-contained:
    runs-on: windows-latest
    strategy:
      matrix:
        mode: [osx-x64,linux-x64,win-x64,win-arm64,osx-arm64,linux-arm64]
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Setup .NET
      uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3 # v4.0.0
      with:
        dotnet-version: 7.0.x
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@a21f25cd3998bf370fde17e3f1b4c12c175172f9 # v2.0.0
    - name: Restore dependencies using Nuget
      run: nuget restore src\client.sln -Verbosity Normal -NonInteractive -ConfigFile src/nuget.config
    - name: dotnet Publish for ${{ matrix.mode }}
      run: dotnet publish src\dsc\dsc.csproj -c Release -r ${{ matrix.mode }} --no-restore --self-contained false --verbosity normal
    - name: Build endpointmanagerlauncher
      if: ${{ matrix.mode == 'win-x64' || matrix.mode == 'win-arm64'}}
      run: dotnet publish src\EndpointManagerLauncher\endpointmanagerlauncher.csproj -r ${{ matrix.mode }} -c Release --no-restore
