name: release binaries
on: [workflow_dispatch]

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest
    permissions:
      actions: read
      contents: write
    strategy:
      matrix:
        mode: [osx-x64,linux-x64,win-x64,win-arm64,osx-arm64,linux-arm64]
        include:
          - mode: osx-x64
            kubectlUrl: 'https://dl.k8s.io/release/v1.27.3/bin/darwin/amd64/kubectl'
            kubectlPath: 'osx\kubectl'
          - mode: linux-x64
            kubectlUrl: 'https://dl.k8s.io/release/v1.27.3/bin/linux/amd64/kubectl'
            kubectlPath: 'linux\kubectl'
          - mode: win-x64
            kubectlUrl: 'https://dl.k8s.io/release/v1.27.3/bin/windows/amd64/kubectl.exe'
            kubectlPath: 'win\kubectl.exe'
          - mode: win-arm64
            kubectlUrl: 'https://dl.k8s.io/release/v1.27.3/bin/windows/arm64/kubectl.exe'
            kubectlPath: 'win\kubectl.exe'
          - mode: osx-arm64
            kubectlUrl: 'https://dl.k8s.io/release/v1.27.3/bin/darwin/arm64/kubectl'
            kubectlPath: 'osx\kubectl'
          - mode: linux-arm64
            kubectlUrl: 'https://dl.k8s.io/release/v1.27.3/bin/linux/arm64/kubectl'
            kubectlPath: 'linux\kubectl'
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Setup .NET
      uses: actions/setup-dotnet@4d6c8fcf3c8f7a60068d26b594648e99df24cee3 # v4.0.0
      with:
        dotnet-version: 7.0.x
    - name: Setup NuGet.exe for use with actions
      uses: NuGet/setup-nuget@a21f25cd3998bf370fde17e3f1b4c12c175172f9 # v2.0.0
    - name: Restore dependencies using Nuget
      run: nuget restore src\client.sln -Verbosity Normal -NonInteractive -ConfigFile src/nuget.config
    - name: dotnet Publish for ${{ matrix.mode }}
      run: dotnet publish src\dsc\dsc.csproj -c Release -r ${{ matrix.mode }} --no-restore --self-contained true --verbosity normal
    - name: Build endpointmanagerlauncher
      if: ${{ matrix.mode == 'win-x64' || matrix.mode == 'win-arm64'}}
      run: dotnet publish src\EndpointManagerLauncher\endpointmanagerlauncher.csproj -r ${{ matrix.mode }} -c Release --no-restore
    - name: Copy endpointmanagerlauncher
      uses: Azure/powershell@1300bbd2b3e1c21c029fe34887d16d2809a1397f # v1.4.0
      if: ${{ matrix.mode == 'win-x64' || matrix.mode == 'win-arm64'}}
      with:
        inlineScript: |
          Copy-Item -Path ${{ github.workspace }}\src\EndpointManagerLauncher\bin\Release\net7.0\${{ matrix.mode }}\publish\ -Destination ${{ github.workspace }}\src\dsc\bin\Release\net7.0\${{ matrix.mode }}\publish\EndpointManagerLauncher -Recurse -Exclude **/*.pdb   
        azPSVersion: '3.1.0'
    - name: Download Kubectl
      uses: Azure/powershell@1300bbd2b3e1c21c029fe34887d16d2809a1397f # v1.4.0
      with:
        inlineScript: |
          New-Item -Path '${{ github.workspace }}\src\dsc\bin\Release\net7.0\${{ matrix.mode }}\publish\kubectl' -ItemType Directory
          $kubectlPath = '${{ github.workspace }}\src\dsc\bin\Release\net7.0\${{ matrix.mode }}\publish\kubectl\${{ matrix.kubectlPath }}'
          $kubectlDir = Split-Path $kubectlPath
          New-Item -Path $kubectlDir -ItemType Directory
          curl.exe $url -o $kubectlPath
        azPSVersion: '3.1.0'
    - name: Create .Zip files (${{ matrix.mode }})
      uses: TheDoctor0/zip-release@b57d897cb5d60cb78b51a507f63fa184cfe35554 # 0.7.6
      with:
        type: 'zip'
        filename: 'lpk-${{ matrix.mode }}.zip'
        path: ${{ github.workspace }}\src\dsc\bin\Release\net7.0\${{ matrix.mode }}\publish\**
        exclusions: '**/*.pdb **/*.xml **/*.nuspec **/cs/* **/de/* **/es/* **/fr/* **/it/* **/ja/* **/ko/* **/pl/* **/pt-BR/* **/ru/* **/tr/* **/zh-Hans/* **/zh-Hant/*'
    - name: Upload Release
      uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
      with:
        name: lpk-${{ matrix.mode }}
        path: |
          ${{ github.workspace }}\lpk-${{ matrix.mode }}.zip
  release:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      actions: read
      contents: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
    - name: Get Changelog Entry
      id: changelog_reader
      uses: mindsers/changelog-reader-action@b97ce03a10d9bdbb07beb491c76a5a01d78cd3ef # v2.2.2
      with:
        path: ./CHANGELOG.md
    - name: Create Release
      id: create_release
      uses: actions/create-release@0cb9c9b65d5d1901c1f53e5e66eaf4afd303e70e # v1.1.4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ steps.changelog_reader.outputs.version  }}
        release_name: ${{ steps.changelog_reader.outputs.version  }}
        body: ${{ steps.changelog_reader.outputs.changes }}
    - name: Download All artifacts
      uses: actions/download-artifact@eaceaf801fd36c7dee90939fad912460b18a1ffe # v4.1.2
    - name: Upload Window Release Assets
      uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/lpk-win-x64/lpk-win-x64.zip
        asset_name: lpk-win.zip
        asset_content_type: application/zip
    - name: Upload Window ARM64 Release Assets
      uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/lpk-win-arm64/lpk-win-arm64.zip
        asset_name: lpk-win-arm64.zip
        asset_content_type: application/zip
    - name: Upload Linux Release Assets
      uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/lpk-linux-x64/lpk-linux-x64.zip
        asset_name: lpk-linux.zip
        asset_content_type: application/zip
    - name: Upload Linux ARM64 Release Assets
      uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/lpk-linux-arm64/lpk-linux-arm64.zip
        asset_name: lpk-linux-arm64.zip
        asset_content_type: application/zip
    - name: Upload OSX Release Assets
      uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/lpk-osx-x64/lpk-osx-x64.zip
        asset_name: lpk-osx.zip
        asset_content_type: application/zip
    - name: Upload OSX ARM64 Release Assets
      uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1.0.2 
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{ github.workspace }}/lpk-osx-arm64/lpk-osx-arm64.zip
        asset_name: lpk-osx-arm64.zip
        asset_content_type: application/zip
